<div class="bg-light w-100 h-100 p-5 border border">
    <h2>Silviu Teodor GROZA</h2>
    <p class="p-class">Software Developer | Angular - C# - .NET Framework</p>
    <hr />
    <p>Currently living in France, in Saint-Julien-en-Genevois.
        Graduated with a degree in Computer Science from the University
        of Petroleum and Gas from Ploiesti, specializing in software
        development. Most recently, served as a Tech Lead at Cognyte,
        where responsibilities included overseeing a team of eight
        developers, managing over ten active projects, and delivering
        technical decisions to ensure successful outcomes.
        Proficient in Angular, C#, and .NET Framework, with additional
        expertise in Docker, Kubernetes, and ASP.NET Web API.
        Motivated by problem-solving and enabling team collaboration,
        contributed to both customer-focused solutions and internal
        technical advancements. Prior experience includes ERP application
        development and AutoCAD integrations.</p>
</div>