<div class="bg-light w-100 h-100 p-5 border border">
    <div class="accordion" id="accordionPanelsStayOpenExample">
        <div *ngFor="let education of educations; let i = index" class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    [attr.data-bs-target]="'#panelsStayOpen-collapse' + i" aria-expanded="true"
                    [attr.aria-controls]="'panelsStayOpen-collapse' + i">
                    {{education.institutionName}} - {{education.degree}} ({{education.startDate}} -
                    {{education.endDate}})
                </button>
            </h2>
            <div [attr.id]="'panelsStayOpen-collapse' + i" class="accordion-collapse collapse show">
                <div class="accordion-body">
                    <p>{{education.description}}</p>
                </div>
            </div>
        </div>
    </div>
</div>