<div class="bg-light w-100 h-100 p-5 border border">
    <button *ngIf="isLoggedInFunction()" class="btn btn-dark mb-3" (click)="save()">
        {{ editMode ? 'Save' : 'Edit' }}
    </button>

    <!--Header-->
    <div class="inline-container">
        <div class="card" style="width: 10rem;">
            <img src="profile.png" class="card-img-top" alt="...">
        </div>
        <div *ngIf="!editMode">
            <h2>{{person.name}}</h2>
            <p class="p-class">{{person.title}}</p>
        </div>
        <div *ngIf="editMode">
            <input class="form-control " [(ngModel)]="person.name">
            <input class="form-control " [(ngModel)]="person.title">
        </div>

        <hr />

        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div *ngIf="!editMode" class="card-body">
                        <h5 class="card-title">Contact</h5>
                        <p class="card-text">
                            <strong>Date of birth:</strong> {{person.dateOfBirth | date:"yyyy-MM-dd"}} <br />
                            <strong>Email:</strong> {{person.email}} <br />
                            <strong>Phone:</strong> {{person.phoneNumber}} <br />
                            <strong>Address:</strong> {{person.address}} <br />
                            <strong>Socials: </strong>
                            <a [href]="person.instagram" target="_blank" class="me-2">
                                <i class="bi bi-instagram "></i>
                            </a>
                            <a [href]="person.linkedIn" target="_blank">
                                <i class="bi bi-linkedin "></i>
                            </a>
                            <br />

                            <strong>Nationality:</strong> {{person.nationality}} <br />
                        </p>
                    </div>
                    <div *ngIf="editMode" class="card-body">
                        <h5 class="card-title">Contact</h5>
                        <p class="card-text">
                            <strong>Age:</strong> <input class="form-control " [(ngModel)]="person.dateOfBirth">
                            <br />
                            <strong>Email:</strong> <input class="form-control " [(ngModel)]="person.email">
                            <br />
                            <strong>Phone:</strong> <input class="form-control " [(ngModel)]="person.phoneNumber">
                            <br />
                            <strong>Address:</strong> <input class="form-control " [(ngModel)]="person.address"> <br />
                            <strong>LinkedIn: </strong> <input class="form-control "
                                [(ngModel)]="person.linkedIn"><br />
                            <strong>Instagram: </strong> <input class="form-control "
                                [(ngModel)]="person.instagram"><br />
                            <strong>Nationality:</strong> <input class="form-control " [(ngModel)]="person.nationality">
                            <br />
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">About</h5>
                        <div *ngIf="!editMode">
                            <p class="card-text" style="white-space: pre-line;">{{person.about}}</p>
                        </div>
                        <div *ngIf="editMode">
                            <textarea class="form-control " [(ngModel)]="person.about"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>